
.fancy-link {
  color: white; /* Default text color */
  text-decoration: none;
  position: relative; /* So ::after positions relative to the link */
  transition: color 0.3s ease;
}

.fancy-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: var(--secondary-color);
  transition: width 0.3s ease;
}

.fancy-link:hover {
  color: var(--secondary-color);
}

.fancy-link:hover::after {
  width: 100%;
}